APScheduler==3.11.0
fastapi==0.115.12
influxdb_client==1.48.0
pydantic==2.11.5
python_dateutil==2.9.0.post0
python_jose==3.4.0
uvicorn==0.34.0
Requests==2.32.3
pendulum==3.1.0
httpx
numpy
pandas
scikit-learn
xgboost
lightgbm
python-dotenv