APScheduler==3.11.0
fastapi==0.115.12
influxdb_client==1.48.0
numpy==2.2.6
pandas==2.2.3
passlib==1.7.4
pendulum==3.1.0
pydantic==2.11.5
python_dateutil==2.9.0.post0
python_jose==3.4.0
uvicorn==0.34.0
Requests==2.32.3
SQLAlchemy==2.0.41
email-validator==2.1.1
python-multipart==0.0.9 
celery==5.4.0
redis==5.0.4
httpx
websockets>=12,<13 
psycopg2-binary>=2.9
alembic>=1.11
python-dotenv

fpdf2==2.7.8
